<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/signin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="/js/forgotpassword.js"></script>
</head>

<body>
    <div class="container">
        <div class="left">
            <h1 class="header">Forgot password ? </h1>
            <h4 class="header2"> Reset your password</h4>
        </div>
        <div class="right">
            <div class="form-container">
                <div id="email">
                <p>Email:</p>
                <input type="email" class="form-field" placeholder="Email">
                <a id="emailNotValid" style="display: none;" class="invalid">Email not valid</a>
                </div>
                <div id="password" style="display: none;">
                    <p>New password:</p>
                    <input id="password1" type="password" class="form-field" placeholder="Password">
                    <a id="eye1" class="fa fa-eye" onclick="show1()" aria-hidden="true"></a>
                    <a id="passwordNotValid1" style="display: none;" class="invalid">passwords do not match</a>
                    <a id="passwordMissing1" style="display: none;" class="invalid">Fill in field</a>
                    <p>Confirm new password:</p>
                    <input id="password2" type="password" class="form-field" placeholder="Password">
                    <a id="eye2" class="fa fa-eye" onclick="show2()" aria-hidden="true"></a>
                    <a id="passwordNotValid2" style="display: none;" class="invalid">passwords do not match</a>
                    <a id="passwordMissing2" style="display: none;" class="invalid">Fill in field</a>
                </div>
            </div>
            <div class="button-container">
                <button id="next-button" class="next-button">Next</button>
            </div>
        </div>
    </div>

    </div>
</body>

</html>