.file-item, .folder-item{
  display: flex;
  /* justify-content: space-between; */
  /* padding: 10px; */
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  /* width: 60%; */

}
.file-item:hover, .folder-item:hover{
  background-color: #ccc;
}
.file-item:hover .file-actions {
  display: block; /* Show actions on hover */
}

.file-actions span, .kebab-items span {
  margin-right: 10px;
  cursor: pointer;
}

.kebab-menu {
  position: relative;
  display: inline-block;
}

.kebab-items {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.kebab-items span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.kebab-items span:hover {
  background-color: #f1f1f1;
}
.kebab-menu:hover .kebab-items {
  display: block; /* This will show the kebab-items when the kebab-menu is hovered */
}