body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
}
.container {
    background-color: rgb(255, 255, 255);
    margin: 10% auto;
    margin-bottom: 10px;
    width: 55%;
    height: auto;
    border-radius: 30px;
    display: flex;
}
.left{
    flex-grow: 1.5;
}
.right{
    flex-grow: 1;
    margin-top: 50px;
}
.header {
    margin-left: 30px;
    text-align: left;
    margin-top: 50px;
    font-weight: lighter;
    
}
.header2{
    margin-left: 30px;
    text-align: left;
    margin-top: 10px;
    font-weight: lighter;
    
}
.form-container{
    margin-top: 50px;

}
.form-field {
    margin-bottom: 15px;
    width: 85%;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
}
.button-container {
    margin-top: 140px;
    text-align: right;
    padding-right: 25px;
    
}
.button-container button {
    background-color: #4285f4;
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
}
.options-container {
    margin-top: 30px;
    font-size: 0.8rem;
}
.forgot{
    text-align: right;
    margin-right:5% ;
    margin-bottom:15px ;
    color: #4285f4;
    text-decoration: underline;
    display: block;
    text-align: right;
}

/* also works for login on the signup page */
.create-account{
padding: 0 20px;
color: #4285f4;
}
.invalid{
    color: red;
}
.logo {
    display: block;
    margin: 0 auto 20px; 
    width: 60px; 
    height: auto; 
    margin-left: 30px;
    margin-top: 50px;
}
.link-container { 
    position: relative;
    text-align: right;
    padding-right: 25%;
    top: -15%;
    
}
.link-button {
    background: none;
    border: none;
    color: #000000;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 0.9rem; /* Adjusted font size for these links */
    margin-left: 10px; /* Space between the links */
    cursor: pointer;
}