/* STYLE for the main content of the drive */


/*For All  */
.body{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100vh;
}

.logo-img-main{
    width: 20px; 
    height: 20px;
    vertical-align: middle;
}
.title{
    font-size: x-large;
}

/* -------------------------------------------- */

/* search layer */
.search-container {
    display: flex;
    align-items: center;
    width: 70%;
    height: 44px;
    background-color: #E9EEF6;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    overflow: hidden;
    margin-bottom: 10px ;
    padding: 5px;
    margin-left: 40px;
    position: relative;
}
#search-button {
    border: none;
    background: transparent;
    padding: 8px;
    cursor: pointer;
    outline: none;
    border-radius: 50%;
    margin-left: 5px;  
}
#search-button:hover{
    background-color: #DCE0E8;
}
#search-img {
    width: 18px;
    height: 18px;
    margin: 5px;
    /* padding: 1px; */
}
#search-bar {
    width: 100%;
    flex: 1;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 15px;
    padding: 10px;
}
#search-bar::placeholder{
    color: black;
}
#setting-filter{
    border: none;
    background: transparent;
    padding: 10px;
    cursor: pointer;
    outline: none;
    border-radius: 50%;
    margin-left: 5px;
}
#setting-filter:hover{
    background-color: #DCE0E8;
}
#setting-filter-img{
    width: 18px;
    height: 18px;
}




/* main-box  */
#main-box{
    height: calc(100% - 50px); /* scrollable content */
    overflow-y: auto; /* Enable vertical scrolling only */
    border-radius: 20px;
    background-color: white;
    margin-left: 40px;
    padding: 20px;
    width: 100%;
    height: 100%;
}




/* features: Type / People / Modified / Location */
.features-container {
    display: flex;

}
.features {
    margin-right: 10px;
    position: relative;
}
.feature-btn {
    text-align: left;
    color: #444746;
    background-color: transparent;
    padding: 8px;
    border-radius: 10px;
    width: 110px;
    cursor: pointer;
    border: 1px solid #747775;
    padding-left: 20px;
}
/* Styles for the arrow icon */
.arrow {
    margin-left: 5px;
    font-size: 8pt;
    /* vertical-align: middle; */
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 0;
    width: 300px
}
.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}
.dropdown-content button:hover {
    background-color: #f1f1f1;
}
.show {
    display: block;
}



/* creating a table file: */
.file-header {
    display: flex;
    justify-content: left;
    border-bottom: 1px solid #C7C7C7;
    margin-top: 20px;
    vertical-align: middle;
}

.file-column {
    /* flex: 1; */
    padding: 5px 15px;
    width: 15%;
    border-color: transparent;
    display: flex;
    justify-content: center;
    /* background-color: #444746; */
}


#name{
    display: flex;
    justify-content: left;
    padding-right: 200px;
}

#more{
    height: 18px;
    width: 18px;
    padding: 10px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    
}
#more-img{
    width: 15px;
}
#more:hover{
    background-color: rgb(231,232,235);
}
.more-btn{
    position: relative;
}


.hidden {
    display: none;
}


/* ------------------------------------------------------ */


/* Home content */


/* Layer 1 */
.Layer1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
#view-details-img{
    width: 20px;
    height: 20px;
}
#details{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: transparent;
    background-color: transparent;
    vertical-align: middle;
}
#details:hover{
    background-color: rgb(231,232,235);
}

/* Layer 2 */
.Layer2{
    display: flex;
    justify-content: space-between;
}
.Layer2 .title{
    font-size: x-large;
}

/* File and Folders btn */
.ff-container {
    display: flex;
    justify-content: space-between;
}
.ff-btn {
    background-color: transparent;
    width: fit-content;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    position: relative;
    overflow: hidden; /* Ensure the tick icon does not overflow */
    display: flex;
    align-items: center;
}
.ff-btn:first-child {
    border-radius: 20px 0 0 20px;
    border-right: transparent;
    margin-right: -5px;
}
.ff-btn:last-child {
    border-radius: 0 20px 20px 0;
    border-left: 1px solid #ccc;
}
.ff-btn:hover {
    background-color: #B3D7EF;
}
.tick {
    display: none;
    margin-left: 5px; /* Adjust as needed */
    width: 20px; /* Adjust size of tick icon */
    height: 20px;
    transition: transform 0.3s ease-in-out;
    padding-right: 10px;
}
.logo-img-main1{
    padding-right: 10px;
    width: 20px;
    height: 20px;
}
.active .logo-img-main1 {
    display: none;
}
.active .tick {
    display: block;
    transform: scale(1.2);
}
.logo-img-main{
    width: 20px; /* Adjust width and height of main images */
    height: 20px;
    padding-right: 10px;
}


/* Layout btn*/
.layout-container{
    display: flex;
    
}
.layout-btn{
    width: fit-content;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 10px;
    border: 1px solid #ccc;
    position: relative;
    overflow: hidden;
    display: flex;
    
}
.layout-btn:first-child {
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px;
    border-right: 2px solid #ccc; 
    margin-right: -5px;
}
.layout-btn:last-child {
    border: 1px solid #ccc;
    border-radius: 0 20px 20px 0;
    border-left: 1px solid #ccc;
    margin-right: -5px;
}
.layout-btn:first-child:hover{
    background-color: #B3D7EF;
}
.layout-btn:last-child:hover{
    background-color: #B3D7EF;
}
.logo-img-main2{
    width: 20px;
    height: 20px;
    padding-right: 10px;
}
.active .logo-img-main2{
    display:none ;
}


/* ------------------------------------------------------ */


/* My drive css */
.features-mydrive{
    position: relative;
}
.mydrive-button{
    margin-bottom: 20px;
    font-size: 18pt;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    padding: 5px 15px 5px 15px;
    margin-right: 650px;
    cursor: pointer;
}
.mydrive-button:hover{
    background-color: #E9EEF6;
}

.main-div{
    display: flex;
    justify-content: space-between;
}

/* ------------------------------------------------------ */

/* Shared with me */
.sharedA{
    display: flex;
}
.layout-container2{
    display: flex;
    margin-right: 10px;
    
}
/* List Layout */
.list-layout .file-item,
.list-layout .folder-item {
  /* display: flex;
  justify-content: space-between; */
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

/* Grid Layout */
.grid-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Change this value to adjust the number of columns */
    grid-gap: 20px; /* Adjust the spacing between items */
    grid-auto-flow: dense; /* Items will fill in the available space */ 
}
  
.grid-layout .file-item,
.grid-layout .folder-item {
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: gray;
    border-radius: 5px;
    /* width: 50%; */
}

  


/* Table container styling */
.file-table-container {
    margin: 20px;
    overflow-x: auto;
}

/* Table styling */
#file-table {
    width: 100%;
    border-collapse: collapse;
}

#file-table th, #file-table td {
    text-align: left;
    padding: 8px;
}

#file-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#file-table th {
    background-color: #4CAF50;
    color: white;
}
/* Add this to your existing CSS */
#create-folder-form {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
    
}
  
#create-folder-form .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 2px ;
    width: 25%; /* Adjust width of the modal content */
    border-radius: 15px;
}

.cancel-create-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.close {
    color: blue;
    float: right;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#folder-name-input {
    width: 100%; /* Full width minus padding */
    padding: 10px 20px;
    margin-bottom: 20px; /* Space before the button */
    border: 2px solid blue;
    box-sizing: border-box;
    border-radius: 5px;
}
#NewF{
    font-size: 20pt;
    margin: 0;
    margin-bottom: 20px;
}
#close-modal{
    background-color: transparent;
    color: blue;
    border: none;
    cursor: pointer;
    /* text-align: center; */
    float: right;
    vertical-align: middle;
    width: fit-content;
    padding-right: 20px;
}

#create-folder-button {
    background-color: transparent;
    color: blue;
    border: none;
    cursor: pointer;
    /* text-align: center; */
    float: right;
    width: fit-content;
}

#create-folder-button:hover {
    opacity: 0.8;
}

/* CSS for the modal */
.modal1 {
    position: fixed; /* Fixed position to place the modal above other content */
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); /* Center the modal horizontally and vertically */
    background-color: #FFFFFF; /* Background color of the modal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for 3D effect */
    width: 20%; /* Adjust the width as needed */
    padding: 16px; /* Padding inside the modal */
    border-radius: 8px; /* Rounded corners of the modal */
    z-index: 1000; /* High z-index to ensure it's on top */
    display: none; /* Initially hide the modal */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; /* Add transition for smooth appearance */
}

/* Show the modal when active */
.modal1.active {
    display: block;
    opacity: 1;
}



.modal1 .modal-content {
    color: #5f6368; /* Text color for modal content */
    font-family: 'Roboto', sans-serif; /* Font style similar to the image */
    font-size: 14px; /* Font size similar to the image */
    line-height: 1.4; /* Line height for better readability */
    
    
}

/* CSS for delete and download buttons positioned above each other */
.modal1 .modal-buttons {
    display: flex; /* Flex container for the buttons */
    flex-direction: column; /* Stack buttons vertically */
    align-items: flex-start; /* Align buttons to the start of the modal */
    margin-top: 20px; /* Space between content and buttons */
}

.modal1 .modal-buttons button {
    padding: 8px 16px; /* Padding inside the buttons */
    margin-bottom: 8px; /* Space between buttons */
    border: 1px solid #dadce0; /* Border color similar to the image */
    border-radius: 4px; /* Rounded corners for buttons */
    cursor: pointer; /* Pointer cursor on hover */
    font-family: 'Roboto', sans-serif; /* Font style similar to the image */
    font-size: 14px; /* Font size similar to the image */
    font-weight: 500; /* Font weight for the text */
    background-color: transparent; /* Transparent background */
    color: #5f6368; /* Text color similar to the buttons in the image */
    text-align: left; /* Align text to the left */
    width: 100%; /* Button width to fill the modal */
}

.modal1 .modal-buttons button:hover {
    background-color: #C2E7FF; /* Slight background color on hover */
}

.modal1 .modal-buttons button.delete {
    color: #d93025; /* Red text color for delete action */
}

.modal1 .modal-buttons button.download {
    color: #1a73e8; 
}
#close-btn{
    background-color: transparent;
    border: transparent;
    color: black;
    /* float: right; */
    font-size: 28px;
    font-weight: bold;
    
}
.close-btn{
    background-color: transparent;
    border: transparent;
    
}
.close-container{
    display: flex;
    justify-content: space-between;
    margin: 0;
}

#starIcon{
    vertical-align: middle;
}
.star{
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: transparent;
    border: transparent;
}
.filled {
    fill: black;
}



div[id^="folder-name-"], div[id^="file-name-"]{
    display: flex;
    justify-content: left;
    padding-right: 235px;
    width: 15%;
}

div[id^="folder-creation-date-"]{
    padding-right: 70px;
}
div[id^="upload-date-"]{
    padding-right: 50px;
}

div[id^="folder-location-"], div[id^="file-location-"]{
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis; 
    max-width: 150px; 
    direction: rtl;
}

div[id^="folder-owner-"], div[id^="file-owner-"]{
    padding-right: 80px;
}




/* CSS for item name */
.item-name {
    display: flex;
    justify-content: left;
    padding-right: 270px;
    width: 15%;
}

.item-details {
    font-size: 14px;
    color: #666;
    margin-top: 4px;
}

.item-owner {
    padding-right: 80px;
}

.item-date-created {
    padding-right: 70px;
}

.file-item {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.folder-item {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
